body{
  margin: 5%;
  text-align: center;
  background:mistyrose;
  overflow: hidden;
}
.left-side {
  background: darkseagreen;
  height: 600px;
  width: 400px;
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
}
.lights {
  display: inline-block;
  height: 60px;
  width: 400px;
  padding: 15px;
  position: relative;
  z-index: 2;
  background: mediumseagreen;
}
.lights:before {
  content: '';
  background: mediumseagreen;
  height: 105px;
  width: 134px;
  position: absolute;
  border-radius: 0 0 55px 0;
  top: 4px;
  left: -6px;
}

.lights .blue-light {
  height: 65px;
  width: 65px;
  background: #00b5d4;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.lights .blue-light:before {
  content: '';
  background: #00dbff;
  height: 55px;
  width: 55px;
  position: absolute;
  border-radius: 55%;
}
.lights .blue-light:after {
  content: '';
  height: 11px;
  width: 11px;
  position: absolute;
  background: #ebebeb;
  border-radius: 50%;
  top: 12px;
  left: 10px;
}
.blue-light-holder {
  background: linear-gradient(to bottom, #fff9f1 0%, #71dbda 100%);
  display: inline-block;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  padding-top: 9px;
  padding-left: 2px;
  position: absolute;
  left: 8%;
}
.led-container {
  display: inline-block;
  vertical-align: top;
}
.led-container > div {
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 50px;
  margin: 0 1px;
  position: relative;
  overflow: hidden;
}
.led-container > div:before {
  content: '';
  background: #fff9f1;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  position: absolute;
  top: 2.5px;
  left: 2.1px;
  z-index: 3;
}
.led-container > div:after {
  content: '';
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  top: 0;
  left: 0;
}
.led-container .red-light:after, .led-container .yellow-light:after, .led-container .green-light:after {
  content: '';
  height: 12px;
  width: 9px;
  z-index: 1;
  top: -1px;
  left: 2px;
  position: absolute;
}
.led-container .red-light {
  background-color: #cb0022;
}
.led-container .red-light:after {
  background: red;
}
.led-container .yellow-light {
  background-color: #ffe01c;
}
.led-container .yellow-light:after {
  background: yellow;
}
.led-container .green-light {
  background-color: #3dba61;
}
.led-container .green-light:after {
  background: #40d165;
}
.main-module {
  padding: 2em;
  margin-top: 123px;
  padding-top: 123px;
  top: -172px;
  position: relative
}
.outer-screen {
  background: #f3f4e8;
  height: 315px;
  width: 100%;
  border-radius: 10px;
  padding: 5px 2em 20px 2em;
  margin-bottom: 1.5em;
  box-shadow: 3px 5px 0px 1px darkgrey;
  position: relative;
}
.inner-screen {
  height: 90%;
  width: 100%;
  background-color: #232323;
  border-radius: 5px;
  margin-top: 20px;
}
.inner-screen .imgPokemon{
  height: 250px;
}
.inner-screen .imgIntro{
  width: 65%;
  margin-top: 30%;
  opacity: 0.8;
}
.right-side{
  background: darkseagreen;
  height: 600px;
  width: 400px;
  display: inline-block;
  border-radius: 20px;
  overflow:hidden;
}
.right-side .right-screen, .right-side .right-screeen{
  max-height: 500px;
  width: 350px;
  background-color: #232323;
  margin: 15% auto;
  text-align: center;
  color: aliceblue;
  overflow-y: scroll;
}
.right-side .right-screeen{
  height: 500px;
  padding-top: 40%;
}
.right-screen .form{
  position: fixed;
  background: #232323;
  width: inherit;
}
.right-screen .list{
  padding: 20% 5%;
  text-align: left;
}
.list .pokeList, a{
  color: aliceblue;
  margin-bottom: 2px;
}
.list .pokeList, a:hover{
 color:green;
 text-decoration: none;
}
a{
  cursor: pointer;
}
.right-screen .search{
  border: none;
  width: inherit;
  background-color: #3e3e3e;
}
.right-screen .submit{
  border: none;
  width: inherit;
  margin: 0;
  background-color: mediumspringgreen;
}
.main-module .back-button, .back-button a {
  color: green;
  border: none;
  background-color: mediumseagreen;
  width: 100px;
  margin-bottom: 11px;
  cursor: pointer;
}