{{ include('partials/header.twig') }}
<div class="error">
    <h1>Erreur 404 - Cette page n'existe pas</h1>
    <h5><a href="{{ path_for('home') }}">Retourner à la page d'accueil </a></h5>
</div>
{{ include('partials/footer.twig') }}